<h1 class="display-4 text-primary">Messages#index</h1>
<p><%= @msg %></p>
<p><a href="/messages/add">Create</a></p>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>person</th>
    <th colspan="2"></th>
  </tr>
  <% @data.each do |obj| %>
  <tr>
    <td><%= obj.id %></td>
    <td><a href="/messages/<%= obj.id %>"><%= obj.title %></a></td>
    <td><%= obj.person.name %></td>
    <td><a href="/messages/edit/<%= obj.id %>">Edit</a></td>
    <td><a href="javascript:delData(<%= obj.id %>);">Delete</a></td>
  </tr>
  <% end %>
</table>

<script type="text/javascript" charset="utf-8">
  function delData(num) {
      if (confirm('Are you sure?')) {
          document.location = '/messages/delete/' + num;
      }
      return false;
  }
</script>
